MySQL-python==1.2.5
SQLAlchemy==1.0.14
amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.1
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.23
certifi==2016.8.31
demjson==2.2.4
kombu==3.0.35
pymongo==3.3.0
pytz==2016.6.1
requests==2.11.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.1
wsgiref==0.1.2
